.content {
    flex-grow: 1;
    margin-left: 0;
    padding: 20px;
    overflow-y: auto;
    transition: margin-left 0.3s ease-in-out;
}

.content.expanded {
    margin-left: 300px;
}

.header-name {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 20px;
    line-height: 1;
    letter-spacing: .02em;
    font-weight: 400;
    margin-left: 15px;
    margin-top: 3px;
}

header {
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    padding: 10px 20px;
    height: 65px;
    background-color: #224FB1;
    color: #ffffff;
    position: fixed;
    width: calc(100% - 300px);
    top: 0;
    z-index: 1001;
    left: 300px; 
    transition: left 0.3s ease-in-out, width 0.3s ease-in-out;
}

header.collapsed {
    width: 100%;
    left: 0;
}

.menu-toggle {
    font-size: 1.2em;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1002;
    margin-right: 10px; 
}

.dropdown {
    margin-left: auto; 
}

.dropdown-toggle {
    font-size: 1.5em;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
}
