.main-content{
    padding-top: 50px;
    padding-left: 40px;
    padding-right: 40px;
}

.content-header {
    display: flex;
    align-items: center;
    padding-top: 30px;
}

.docente-img {
    width: 150px;
    height: 150px;
    border: 4px; 
    padding: 5px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h4 {
    margin: 0;
}

.btns {
    margin-top: 10px;
}

.btns button {
    margin-right: 10px;
}

.tab-content{
    border-left: 1px solid #DEE2E6;
    border-bottom: 1px solid #DEE2E6;
    border-right: 1px solid #DEE2E6;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    padding-left: 15px;
    padding-top: 25px;
}

.titletbs{
    color: #224FB1;
    font-weight: 400;
    font-size: 22px;
}

.sex-select {
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
    max-width: 300px;
}

.nc-select {
    align-items: right;
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
    max-width: 300px;
}