
.sidebar {
    width: 300px;
    background-color: #ffffff;
    height: 100%;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    left: 0;
    z-index: 1000;
    transform: translateX(-300px);
    transition: transform 0.3s ease-in-out;
}

.sidebar.collapsed {
    transform: translateX(0);
}

.sidebar-header {
    padding: 20px;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    cursor: pointer;
}
.hbar_content {
    margin-top: 2px;
}
.htop {
    font-size: 17px;
    font-weight: 500;
    letter-spacing: normal;
}

.hbottom {
    font-size: 12px;
}

.sidebar-logo {
    width: 35px;
    margin-right: 5px;
}

.sidebar-menu {
    padding: 20px 0;
}

.sidebar-section h4 {
    padding: 10px 20px;
    background-color: #f8f8f8;
    margin: 0;
    font-size: 14px;
    font-weight: bold;
}
